<div class="m-5 signin">
<h2 class="text-center m-5">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
  <%= f.label :email, class: "col-2 col-form-label" %>
  <div class="col-6">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user_email",  placeholder: "Enter email" %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :password, class: "col-2 col-form-label" %>
    <div class="col-6">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "user_password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions mt-3 ">
    <%= f.submit "Log in", class: "btn btn-success" %>
  </div>
<% end %>

<p class="mt-5 ml-4"><%= render "devise/shared/links"%></p>
</div>